# Totals

In [90]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(rc={'figure.figsize':(11.7,8.27)})

totals:pd.DataFrame = pd.read_csv("../data/Totals.csv", header=0)

cleaned = pd.DataFrame({
    'date': pd.to_datetime(totals['Date'], format='%Y-%m-%d'),
    'views': totals['Views']
})

print(cleaned.head(5))
cleaned.describe()

        date  views
0 2020-10-28      0
1 2020-10-29      0
2 2020-10-30      0
3 2020-10-31      2
4 2020-11-01      0

           views
count  28.000000
mean    0.214286
std     0.568112
min     0.000000
25%     0.000000
50%     0.000000
75%     0.000000
max     2.000000

# Videos

In [97]:
videos:pd.DataFrame = pd.read_csv("../data/Chart data.csv", header=0)
print(videos.head(5))
videos.describe()

         Date        Video      Video title Video publish time  Views
0  2020-10-28  CVLLpAFD3K4  Scary Owl Noise       Jul 16, 2019      0
1  2020-10-29  CVLLpAFD3K4  Scary Owl Noise       Jul 16, 2019      0
2  2020-10-30  CVLLpAFD3K4  Scary Owl Noise       Jul 16, 2019      0
3  2020-10-31  CVLLpAFD3K4  Scary Owl Noise       Jul 16, 2019      0
4  2020-11-01  CVLLpAFD3K4  Scary Owl Noise       Jul 16, 2019      0

            Views
count  112.000000
mean     0.053571
std      0.263014
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      2.000000

In [98]:
import numpy as np
dtypes = {
    'Video': np.str,
    'Video title': np.str,
    'Video publish time': np.str,
    'Views': np.str,
    'Watch time (hours)': np.str,
    'Subscribers': np.str,
    'Impressions': np.str,
    'Impressions click-through rate (%)': np.str
}
video_totals:pd.DataFrame = pd.read_csv("../data/Table data.csv", header=0, dtype=dtypes, skiprows=[1])
print(video_totals.head(5))
video_totals.describe()

         Video                      Video title Video publish time Views  \
0  CVLLpAFD3K4                  Scary Owl Noise       Jul 16, 2019     3
1  _D1Tw_CY_54   Nerding out with my new guitar       May 26, 2020     1
2  dOh-HFPLhu4                           grafka       Oct 28, 2019     1
3  jOcOdVdrOck                          cdntest       Aug 17, 2020     1
4  AXs4EWg6Uz4  Nerding out, Coding Blocks song       Oct 18, 2016   NaN

  Watch time (hours) Subscribers Impressions  \
0             0.0095           0          33
1             0.0116           0           5
2             0.0043           0           0
3             0.0071           0           1
4                NaN         NaN           1

  Impressions click-through rate (%)
0                               9.09
1                                 20
2                                NaN
3                                  0
4                                  0

,Video,Video title,Video publish time,Views,Watch time (hours),Subscribers,Impressions,Impressions click-through rate (%)
count,5,5,5,4,4,4,5,4
unique,5,5,5,2,4,1,4,3
top,AXs4EWg6Uz4,grafka,"May 26, 2020",1,0.0095,0,1,0
freq,1,1,1,3,1,4,2,2